asgiref==3.3.1
attrs==21.2.0
bcrypt==3.2.0
blinker==1.4
clear-cache==1.0.0
cryptography==3.4.8
Django==3.1.7
django-environ==0.4.5
httplib2==0.20.2
jsonschema==3.2.0
oauthlib==3.2.0
Pillow==9.0.0
python-dateutil==2.8.1
python-dotenv==0.21.0
pyxdg==0.27
PyYAML==5.4.1
razorpay==1.2.0
zipp==1.0.0
